* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: 'Rajdhani', sans-serif;
    font-feature-settings: 'tnum' on, 'lnum' on;
    font-size: 16px;
    color: $white;
}
body, html {
    background-color: $black-1000;
    overflow: hidden;

    scrollbar-color: $white rgba(255, 255, 255, 0.1); 
    scrollbar-width: thin  
}


main {
    padding-top: 72px;
    height: 100vh;
    box-sizing: border-box;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    @media(max-width: $mobile) {
        font-size: 24px;
        line-height: 32px;
    }
}
h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}
h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
}
h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    @media(max-width: $mobile) {
        font-size: 18px;
        line-height: 24px;
    }
}
h5 {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}
h6 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
h1,h2,h3,h4,h5,h6 {
    margin-bottom: 10px;
    font-family: 'Reckoner', sans-serif;
    font-feature-settings: 'tnum' on, 'lnum' on;
}


.fw {
    &_700 {
        font-weight: 700;
    }

    &_bold {
        font-weight: bold;
    }

    &_light {
        font-weight: 400;
    }
}
.page-custom {
    h1 {
        margin-bottom: 54px;
        @media(max-width: $mobile) {
            margin-bottom: 24px;
        }
    }
    h2,h3,h4,h5 {
        margin-top: 48px;
        margin-bottom: 8px;
        @media(max-width: $mobile) {
            margin-top: 24px;
        }
    }
    p {
        margin-bottom: 8px;
    }
    ul {
        margin-left: 20px;
    }
}
.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.text_center {
    text-align: center;
}

.modal_bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 10;
    &.active {
        opacity: 1;
        pointer-events: visible;
    }
}

.p {
    font-size: 16px;
    line-height: 24px;

    &_lg {
        font-size: 18px;
        line-height: 1.814em;
    }

    &_md {
        font-size: 16px;
        line-height: 24px;
    }

    &_sm {
        font-size: 14px;
        line-height: 16px;
    }
}
.cl {
    &-black-900 {
        color: $black-900;
    }
    &-black-800 {
        color: $black-800;
    }
    &-black-700 {
        color: $black-700;
    }
    &-black-600 {
        color: $black-600;
    }
}
.title-banner {
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    color: $black-900;
    @media(max-width: $mobile) {
        font-size: 36px;
        line-height: 40px;
    }
}
.button {
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 0%, 100% 0, 100% 89%, 94% 100%, 0 100%, 0 6px, 6px 0);
    border: 4px solid;
    border-image: url('../images/button_bg/btn_menu_bg.svg') 4 fill;
    color: $white;
    font-size: 18px;
    min-width: 112px;
    width: 122px;
    padding: 8px 12px;
    box-sizing: border-box;
    height: 48px;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
}
h1.title-in-wrap {
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
    font-family: 'Rajdhani', sans-serif;
}
.title-in-wrap {
    padding: 8px 32px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(13px);
    display: block;
    position: relative;
    &:before,
    &:after {
        content: '';
        width: 8px;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        border: 1px solid $white;
    }
    &:before {
        left: 0;
        border-right: none;
    }
    &:after {
        right: 0;
        border-left: none;
    }
}


.tablet-container {
    height: 100vh;
    padding-top: 72px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .tablet-outer {
        width: 1142px;
        max-width: 90%;
        height: 716px;
        max-height: calc(100% - 30px);
        box-sizing: border-box;
        border: 40px solid;
        border-image: url(../images/tablet.svg) 40;
        position: relative;
       
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 335px;
            bottom: 0;
            top: 0;
            border: 30px solid;
            z-index: 2;
            pointer-events: none;
        }
        &::before {
            left: 0;
            border-image: url(../images/tablet_left_border.svg) 30;
        }
        &::after {
            right: 0;
            border-image: url(../images/tablet_right_border.svg) 30;
        }
    }
    .tablet-inner {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(6px);
        position: relative;
        z-index: 1;
    }
    .tablet-content {
        margin: 30px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        height: calc(100vh - 72px - 110px - 28px - 77px);
        max-height: calc(716px - 110px - 28px - 45px);
        transform-origin: center;
        // opacity: 0;
        // transform: scale(0);
        // transition: 1.8s ease-in-out;
        &.active {
            // opacity: 1;
            // transform: scale(1);
        }
    }
    .tablet-content__left {
        max-width: 534px;
        // min-width: 534px;
        width: 100%;
        position: relative;
        overflow: auto;
        &__container {
            width: 100%;
            height: 418px;
            border: 5px solid;
            border-image: url(../images/border/image_border.svg) 5 fill;
            box-sizing: border-box;
            padding: 8px;


        }
    }
    .border-list-container {
        width: 100%;
        height: 100px;
        min-height: 100px;
        margin-top: 16px;
        border: 5px solid;
        border-image: url(../images/border/border_list.svg) 5 fill;
        .border-list__items {
            display: flex;
            padding: 10px 28px;
            overflow: hidden;
            .border-list__item {
                width: 56px;
                height: 71px;
                order: 1;
                border: 1px solid transparent;
                box-sizing: border-box;
                transition: 0.3s ease;
                background-color: rgba(0, 0, 0, 0.4);
                cursor: pointer;
                position: relative;
                overflow: hidden;
                img {
                    // width: 100%;
                    // max-height: 100%;
                    height: 100%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    opacity: 0.6;
                }
                &.active,
                &.swiper-slide-active,
                &.swiper-slide-thumb-active {
                    border-color: $white;
                    img {
                        opacity: 1;
                    }
                    
                }
            }
        }
    }
    .tablet-content__right {
        max-width: 416px;
        width: 100%;
        margin-left: 15px;
        &__title {
            color: $black-1000;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 72px;
            // border: 5px solid;
            border-image: url(../images/border/border_title.svg) 0 fill;
            box-sizing: border-box;
 
           
        }
        &__content {
            width: 100%;
            box-sizing: border-box;
            margin-top: 16px;
            padding: 24px;
            padding-right: 1px;
            padding-bottom: 20px;
            height: calc(100% - 72px - 16px);
            overflow: auto;
            border: 4px solid;
            border-image: url(../images/border/tablet_content_border.svg) 5 fill;
            overflow: hidden;
            position: relative;
            .right-content {
                max-height: 100%;
                overflow: auto;
                padding-right: 10px;
                display: flex;
                flex-direction: column;
                h2,h3,h4,h5,h6 {
                    font-family: 'Rajdhani', sans-serif;
                    font-weight: 500;
                    margin-bottom: 4px;
                }
                h2 {
                    margin-top: 32px;
                    margin-bottom: 16px;
                    & + h3,
                    & + h4 {
                        margin-top: 0 !important;
                    }
                }
                h3:not(:first-child) {
                    margin-top: 16px;
                }
                blockquote {
                    background: rgba(255, 255, 255, 0.2);
                    display: block;
                    width: fit-content;
                    padding: 3px;
                    margin-bottom: 16px;
                }
            }
        }
    }
}

.tablet-content {
    .tablet-content__left__container,
    .tablet-content__left__bottom-slider,
    .tablet-content__right__title,
    .tablet-content__right__content,
    .attributes-gird-outer,
    .animation-active-block {
        opacity: 0;
        transform: scale(0.5);
        transition: 1.2s ease-in-out;
    }
    &.active {
        .tablet-content__left__container,
        .tablet-content__left__bottom-slider,
        .tablet-content__right__title,
        .tablet-content__right__content,
        .attributes-gird-outer,
        .animation-active-block {
            opacity: 1;
            transform: scale(1);
        }
    }
}

/* scrollbar start */
::-webkit-scrollbar {
    width: 4px; 
    height: 4px; 
    background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: $white;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $black-1000;
}
/* scrollbar end */




.button-count-nav {
    background: transparent;
    outline: none;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border: 0px solid;
    border-image: url(../images/border/border-button-nav-count.svg) 0 fill;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &.minus {
        transform: rotate(180deg);
    }
 }





input, textarea {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    transition: 0.3s ease;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    padding: 14px 14px;
    color: $white;
    max-height: 120px;
    resize: none;
    &:focus {
        border-color: $white;
        background: rgba(0, 0, 0, 0.35);
    }
 }

 label {
     display: block;
     font-family: 'Reckoner', sans-serif;
     border: 1px solid transparent;
     font-weight: 500;
     font-size: 16px;
     text-transform: uppercase;
     letter-spacing: 0.1em;
     
 }
 .input-row {
     width: 100%;
     display: flex;
     justify-content: space-between;
     input, textarea {
         width: 100%;
         color: $white;
     }
     &:not(:last-child) {
         margin-bottom: 16px;
     }
     label {
        position: absolute;
        left: 14px;
        top: 14px;
     }
     input {
         padding-left: 58px;
     }
     textarea {
         padding-left: 68px;
     }
 }
 .half-input, .full-input {
    position: relative;
    display: flex;
 }
 .half-input {
     width: 48%;
 }
 .full-input  {
     width: 100%;
 }
 input[type="submit"] {
    cursor: pointer;
    background-color: $white;
    color: $black-1000;
    clip-path: polygon(2% 0, 100% 0, 100% 84%, 98% 100%, 0 100%, 0 16%);
    transition: 0.3s ease;
    padding: 14px;
    &:hover {
        background-color: rgb(243, 243, 243);
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $white;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0.3) inset;
  transition: background-color 5000s ease-in-out 0s;
}


 .wrapper {
     max-width: 1224px;
     margin: 0 auto;
     @media(max-width: 1246px) {
         padding: 0 24px;
     }
 }

.breadcrumbs {
    padding: 6px 16px;
    color: $white;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    a {
        color: $black-200;
        text-decoration: none;
        
    }
    .breadcrumbs__separator {
        display: flex;
        align-items: center;
        margin-right: 4px;

    }
    .breadcrumbs__separator + .breadcrumbs__separator {
        display: none;
    }
}


.select2.select2-container {
    .select2-selection {
        background-color: #ffffff;
        border: 1px solid #DBDBDB;
        box-sizing: border-box;
        border-radius: 12px;
        font-size: 16px;
        outline: none;
        display: flex;
        align-items: center;
        transition: 0.3s ease;
        padding: 0 16px;
        height: 44px;
    }
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
    right: 4px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
    color: $white;
    background-color: $black-900;
}

.tablet-outer {
    .woocommerce-notices-wrapper {
        position: absolute;
    
        top: 32px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
    
        .woocommerce-message {
            display: flex;
            align-items: center;
            background: rgba(0, 0, 0, 0.8);
            border: 1px solid $white;
            padding: 16px;
    
            backdrop-filter: blur(25px);
            a {
                display: inline-block;
                margin-right: 12px;
                text-align: center;
            }
        }
    }
}
