.main-products-page {
    background: url(../images/bg/product_bg.png) center no-repeat;
    background-size: cover;
}

.products-content__product {
    display: none;
}
.tablet-content__left__container__product {
    max-height: calc(100% - 100px - 16px);
}
.product-slider-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        max-height: 100%;
        max-width: 100%;
    }
}
.product-slider-content {
    .button {
        margin-top: 32px;
    }
}
.in-progress-product {
    order: 2 !important;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    pointer-events: none;
    img {
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }
}