#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 98;
    .header-btn-menu {
        width: 112px;
        height: 48px;
        font-weight: 16px;
        background-color: transparent;
    }
}

.nav-menu-container {
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 312px;
    width: 312px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 32px;
    transition: 0.3s ease;
    transform: translateX(100%);
    box-sizing: content-box;
    pointer-events: none;
    z-index: 99;
    &.active {
        transform: translateX(0);
    }
    .nav-menu {
        // background: url('../images/bg/bg_menu.svg') center no-repeat;
        // background-size: 100% 100%;
        border: 12px solid;
        border-image: url('../images/bg/bg_menu.svg') 12 fill;
        max-height: 98vh;
        padding: 26px 22px;
        // padding: 36px 22px;
        // padding-bottom: 88px;
        width: 100%;
        box-sizing: border-box;
        pointer-events: visible;
        ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                margin-bottom: 28px;
                width: auto;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    width: 100%;
                    box-sizing: border-box;
                    display: block;
                    position: relative;
                    padding: 4px 12px;
                    background: transparent;
                    transition: 0.3s ease;
                    color: $white;
                    font-size: 18px;
                    font-weight: 500;
                    text-decoration: none;
                    overflow: hidden;
                    &::before {
                        content: '';
                        width: 2px;
                        height: 24px;
                        background-color: $white;
                        top: calc(50% - 24px / 2);
                        left: 0;
                        position: absolute;
                        transition: 0.6s ease;
                        transform: translateX(-3px);
                    }
                    &.active,
                    &:hover {
                        background: rgba(255, 255, 255, 0.1);
                        &:before {
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
    }
}

.burger-menu {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    padding: 5px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
    span {
        width: 100%;
        display: block;
        height: 2px;
        border-radius: 5px;
        background: $white;
        transition: 0.3s;
    }
}
.header-btn-menu.active {
    span:nth-child(1) {
        transform: rotate(-45deg) translate(-3px, 2.5px);
      }
      
    span:nth-child(2) {opacity: 0;}
      
    span:nth-child(3) {
        transform: rotate(45deg) translate(-3px, -3px);
      }
}
.header-right {
    display: flex;
    .button.button-cart {
        width: 48px;
        min-width: 0;
        margin-right: 22px;
        border-image: url(../images/border/border-cart.svg) 4 fill;
        background-color: transparent;
    }
}
