$purple-900: #393A4A;
$purple-800: #BA94E3;
$purple-700: #C09FE8;
$purple-600: #C7ABED; 
$purple-500: #CEB8F1; 
$purple-400: #D5C5F5; 
$purple-300: #DED2F8; 
$purple-200: #E7E0FB; 
$purple-100: #F2EEFD; 

$pink-900: #503F52;
$pink-800: #A37499;
$pink-700: #FAA3D0;
$pink-600: #FDAEDA;
$pink-500: #FFBAE3;
$pink-400: #FFC6EB;
$pink-300: #FFD3F2;
$pink-200: #FFE1F8;
$pink-100: #FFF0FC;

$black-1000: #000000;
$black-900: #1A1A1A;
$black-800: #3A3A3A;
$black-700: #595959;
$black-600: #6C6C6C;
$black-500: #949494;
$black-400: #B4B4B4;
$black-300: #D8D8D8;
$black-200: #E8E8E8;
$black-100: #F2F2F2;
$black-50: #DBDBDB;

$white: #ffffff;

$gray: #EDEDED;
$dark_gray: #9A9A9A;
$gray-150: #E6E6E6;
$gray-100: #F8F8F8;

$red: #D22F27;

$tablet: 1024px;
$mobile: 767px;